/* Google Font - Red Hat Display */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

/* Variables */
:root {
  /* Colors */
  --colors-rackley: #4d96a9;
  --colors-aero: #71c0d4;
  --colors-purple: #855fb1;
  --colors-lenurple: #b18bdd;
  --colors-yankees-blue: #28283d;
  --colors-silver: #87879d;
  --colors-cyan: #8fe3f9;
  --colors-mauve: #d9b8ff;
  --colors-lotion: #fafafa;
  /* Fonts */
  --fonts-main: "Red Hat Display", sans-serif;
}

/* Global Rules  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--colors-lotion);
  color: var(--colors-silver);
  font-family: var(--fonts-main);
  cursor: default;
}

/* Typography */
h1 {
  font-size: 4rem;
  line-height: 1;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.1;
}
h1,
h2 {
  color: var(--colors-yankees-blue);
}
p {
  font-size: 1.125rem;
  line-height: 1.444;
}
.overline {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.625;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--colors-rackley);
}
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.625;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }
  h2 {
    font-size: 2rem;
  }
}

/* Reset Some Elements */
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

/* Buttons & Links */
.btn {
  color: white;
  font-size: 1rem;
  font-weight: 900;
  width: 193px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 29px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  -ms-border-radius: 29px;
  -o-border-radius: 29px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btn .version {
  margin-left: 4px;
}
.rackley {
  background-color: var(--colors-rackley);
}
.rackley .version {
  color: var(--colors-cyan);
}
.rackley:hover {
  background-color: var(--colors-aero);
}
.rackley:focus {
  outline: 2px solid var(--colors-cyan);
}
.rackley:active {
  background-color: var(--colors-lotion);
  color: var(--colors-rackley);
}
.purple {
  background-color: var(--colors-purple);
}
.purple .version {
  color: var(--colors-mauve);
}
.purple:hover {
  background-color: var(--colors-lenurple);
}
.purple:focus {
  outline: 2px solid var(--colors-rackley);
}
.purple:active {
  background-color: var(--colors-lotion);
  color: var(--colors-rackley);
}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 374px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 374px) {
  .container {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 696px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1110px;
  }
}

/* Number for each section */
.details__container::before,
.footer__container::before {
  content: "";
  width: 1px;
  height: 84px;
  position: absolute;
  top: -112px;
  left: calc(50% - 0.5px);
  background-color: var(--colors-silver);
  opacity: 0.25;
}
.details__container::after,
.footer__container::after {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: var(--colors-lotion);
  color: var(--colors-silver);
  display: flex;
  align-items: center;
  font-weight: 900;
  justify-content: center;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.details__container::after {
  content: "01";
}
.footer__container::after {
  content: "02";
}

/* Header */
.header__container {
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header__logo {
  max-height: 28px;
}
@media (max-width: 992px) {
  .header__container {
    height: 76px;
  }
}

/* main content */
main {
  min-height: calc(100vh - 416px);
}

/* Hero Section */
.hero {
  overflow: hidden;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 108px;
  padding-bottom: 229px;
  position: relative;
}
.hero__img {
  width: 135%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.hero__img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  background: url(../assets/desktop/image-hero-left.png) no-repeat top 60px left;
}
.hero__img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
  background: url(../assets/desktop/image-hero-right.png) no-repeat top 115px
    right;
}
.hero__container h1 {
  max-width: 445px;
  margin-bottom: 34px;
}
.hero__container p {
  max-width: 540px;
}
.hero__btns {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}
.hero__btn-what {
  width: 139px;
}
@media (max-width: 1200px) {
  .hero__img {
    width: 144%;
  }
}
@media (max-width: 992px) {
  .hero__container {
    padding-top: 64px;
    padding-bottom: 192px;
  }
  .hero__img {
    position: relative;
    left: 0;
    background: url(../assets/tablet/image-hero.png) 50% 50% no-repeat;
    background-size: contain;
    transform: translateX(0);
    padding-top: 44%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .hero__img::before {
    background: none;
  }
  .hero__img::after {
    background: none;
  }
  .hero__container h1 {
    margin-top: 72px;
    margin-bottom: 24px;
  }
  .hero__container p {
    max-width: 455px;
  }
}
@media (max-width: 576px) {
  .hero__container {
    padding-top: 54px;
    padding-bottom: 176px;
  }
  .hero__container h1 {
    margin-top: 48px;
  }
  .hero__btns {
    flex-direction: column;
    align-items: center;
  }
}

/* Details Section */
.details__container {
  padding-top: 92px;
  padding-bottom: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.details__imgs-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.details__img-wrapper {
  width: 255px;
  height: 242px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.details__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.details__img-wrapper:hover img {
  transform: scale(1.07);
}
.details__img-wrapper::before {
  content: ""; /*Flashingeffect*/
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 50%;
  opacity: 0;
  z-index: 10;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.details__img-wrapper:hover::before {
  animation: flashing 0.75s;
  -webkit-animation: flashing 0.75s;
}
@keyframes flashing {
  0%,
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.details__text h2 {
  max-width: 445px;
  margin: 80px auto 32px;
}
.details__text h2 .overline {
  display: block;
  margin-bottom: 16px;
}
.details__text p {
  max-width: 540px;
}
@media (max-width: 992px) {
  .details__imgs-features {
    gap: 10px;
  }
  .details__img-wrapper {
    width: 164px;
    height: 156px;
  }
}
@media (max-width: 576px) {
  .details__imgs-features {
    gap: 24px;
  }
  .details__img-wrapper {
    width: 151px;
    height: 143px;
  }
}

/* Footer (Experience Section) */
.footer {
  background: url(../assets/desktop/image-footer.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.footer::after {
  content: ""; /* Overlay */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--colors-rackley);
  opacity: 0.9;
}
.footer__container {
  min-height: 308px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--colors-lotion);
  position: relative;
  z-index: 100;
}
.footer__container h2 {
  max-width: 350px;
  color: inherit;
}
.footer__container p {
  max-width: 350px;
  font-size: 1.125rem;
  line-height: 1.444;
}
@media (max-width: 992px) {
  .footer__container {
    padding-top: 92px;
    padding-bottom: 72px;
    flex-direction: column;
    text-align: center;
  }
  .footer__container p {
    max-width: 570px;
    margin: 32px 0 40px;
  }
}
@media (max-width: 375px) {
  .footer__container p {
    margin: 24px 0 32px;
  }
}

/* No actions (status) */
.status,
.status::before {
  display: flex;
  align-items: center;
  justify-content: center;
}
.status {
  position: fixed;
  top: -50px;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
  padding: 12px 18px;
  background-color: rgb(237, 44, 73);
  color: white;
  min-width: 270px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  z-index: 1000;
  animation: showStatus 0.3s ease-in forwards,
    hideStatus 0.3s 3s ease-in-out forwards;
  -webkit-animation: showStatus 0.3s ease-in forwards,
    hideStatus 0.3s 3s ease-in-out forwards;
}
.status::before {
  content: "!";
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-color: white;
  color: rgb(237, 44, 73);
  border-radius: 50%;
}
@keyframes showStatus {
  to {
    top: 20px;
    transform: translateX(-50%) scale(1);
  }
}
@keyframes hideStatus {
  to {
    top: -50px;
    transform: translateX(-50%) scale(0.5);
  }
}
@media (min-width: 992px) {
  /* View status on desktops in a different way */
  .status { 
    font-size: 16px;
    top: initial;
    left: initial;
    bottom: 20px;
    left: -200px;
    transform: none;
  }
  @keyframes showStatus {
    to {
      left: 20px;
    }
  }
  @keyframes hideStatus {
    to {
      bottom: -50px;
    }
  }
}
